<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout List</title>
    <link rel="stylesheet" href="../static/styles.css"> <!-- Adjusted path to CSS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/workoutscript.js"></script> <!-- Adjusted path to JavaScript file -->
</head>
<body>
    <!-- Navigation Header -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('exercise_list') }}">Exercise List</a></li>
                <li><a href="{{ url_for('workout_list') }}">Workout List</a></li>
                <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
            </ul>
        </nav>
    </header>
    <!-- Modified ADD WORKOUT button -->
    <a href="{{ url_for('add_or_edit_workout') }}" class="btn" id="add-workout-btn">ADD WORKOUT</a>

    <h1>Workouts</h1>
    <div id="workouts-container"></div> <!-- Container for workouts -->
    <script src="/static/workoutscript.js"></script>
</body>
</html>
